@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height:94%;
	width:99%;
  overflow-x: hidden;
}

body {
	height:inherit;
	width:inherit;
  background-color: #181818;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #aaa;
  text-align: left;
}

.head {
  width: 120%;
  height: 100px;
  background-color: #333;
  margin-left: -15px;
  margin-top: -40px;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar {
  width: 10%;
  float: left;
}

#editor {
	width: 60%;
	height: 60%;
	float: left;
  margin: 0 0 0 0px;
  padding: 0px 0px 0px 0px;
  
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


#samplelist {
	float: left;
	width: 20%;
	padding: 10px;
	margin: 10px;
  margin-top: 0;
}

br {
  clear: left;
}

.code {
	height: 100%;
  width: 100%;
  padding: 0 2px;
}
