body {
	padding: 10px;
}

#sampleslist {
	height: 60%;
	overflow-y: scroll;
}
#sampleslist .in {
	margin-left: 10px;
}

.error {
	font-weight: bold;
	content: "!!";
	background-color: #888;
}

.sidebar button, .sidebar input {
	width: 80%;
	margin-bottom: 2px;
}

.sidebar button#filter-active {
	background-color: #b0f04d;
	border-color: #568310;
}

.wrap.sl {
	width: 30%;
	float: left;
  	margin: 0 0 0 0px;
  	padding: 0px 0px 0px 0px;
}